body {
  margin: 0;
  font-family: Roboto;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  flex: 1;
}

.home {
  background-image: url(assets/Background.png);
  background-size: 1920px 1080px; 
  background-repeat: round;
}

@media screen and (max-width: 600px) {
  .home {
    background-image: url(assets/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
  }
}

.home-black {
  background-color: #D9D6E1;
  background-size: 1920px 1080px; 
  background-repeat: round;
}

.controls-background {
  opacity: 1;
  background: transparent linear-gradient(136deg, #D6D5E4 0%, #E6DFCE 100%, #8EBED2 100%, #A9A9A9 100%) 0% 0% no-repeat padding-box;
}

.waiting-background {
  opacity: 1;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #F2EBE0 100%) 0% 0% no-repeat padding-box;
}

.home-sub-1 {
  background-color: #d9e7ed;
}

.black-model {
  background-color: #141414;
}

.img-landing {
  background-image: url(assets/Background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  padding: 10px;
}


.img-team {
  background-image: url(assets/team.png);
  background-repeat: no-repeat;
  background-position: center bottom -70px;
  background-size: cover; 
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .img-team {
    background-image: url(assets/team.png);
    background-repeat: no-repeat;
    background-position: center bottom -30px;
    background-size: cover; 
    padding: 10px;
  }
}
