body {
  margin: 0;
  font-family: Roboto;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  flex: 1;
}

.home {
  background-image: linear-gradient(180deg, #2A2A2A 0%, #29292981 26%, #54545400 100%), url(assets/background_2024.png);
  background-size: 1920px 1080px; 
  background-repeat: round;
}

.create-project {
  background: transparent linear-gradient(180deg, #2A2A2A 0%, #29292981 26%, #54545400 100%) 0% 0% no-repeat padding-box;
  background-size: 1920px 1080px; 
}

.home-black {
  background-color: #D9D6E1;
  background-size: 1920px 1080px; 
  background-repeat: round;
}

.controls-background {
  opacity: 1;
  background: transparent linear-gradient(136deg, #D6D5E4 0%, #E6DFCE 100%, #8EBED2 100%, #A9A9A9 100%) 0% 0% no-repeat padding-box;
}

.waiting-background {
  opacity: 1;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #F2EBE0 100%) 0% 0% no-repeat padding-box;
}

.waiting-background-list {
  opacity: 1;
  /* background: transparent linear-gradient(180deg, #FFFFFF 0%, #F2EBE0 100%) 0% 0% no-repeat padding-box; */
  background-color: #8382821A;
}

.home-sub-1 {
  background: transparent linear-gradient(103deg, #D6D5E4 0%, #E6DFCE 100%, #8EBED2 100%, #A9A9A9 100%) 0% 0% no-repeat padding-box;
}

.home-sub-1-waiting {
  background: #83828266;
}

.home-sub-1-small {
  background: #8382821A;
}

.black-model {
  background-color: #141414;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ABAAAB;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}

